# ignore db
*.db

# ignore IDE-specific files
.vscode/
.idea/

# ignore environment files
env/
.env
.pyc

# ignore logs
*.log

# ignore dependencies installed with pip
/requirements.txt
/libraries/

/__pycahe__/

**/UPLOAD_FOLDER/
UPLOAD_FOLDER/